<!-- Notifications Dropdown -->
<div id="notifications-dropdown" class="notifications-dropdown">
    <h4>Notifications</h4>
    <span class="notification-badge">{{ notifications.count }}</span>

    <ul class="notification-list">
        <li class="notification-item unread">
            <div class="notification-avatar">
                <img src="/static/icons/profile_icon.png" alt="User">
            </div>
            <div class="notification-content">
                <p><strong>CosmicExplorer</strong> liked your post</p>
                <span class="notification-time">2 minutes ago</span>
            </div>
        </li>
        <li class="notification-item unread">
            <div class="notification-avatar">
                <img src="/static/icons/profile_icon.png" alt="User">
            </div>
            <div class="notification-content">
                <p><strong>StarGazer</strong> mentioned you in a comment</p>
                <span class="notification-time">1 hour ago</span>
            </div>
        </li>
    </ul>
</div>