<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cosmical - Explore the Universe</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <h1>Cosmical</h1>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="#">Topics</a></li>
                <li><a href="#">Forums</a></li>
                <li><a href="aboutus.html">About</a></li>
                <li><a href="#">Contact</a></li>
                <li id = "profile"><a href="userwall.html">Profile</a></li>
            </ul>
        </nav>
    </header>

    <section class="featured-topics">
        <div class="topic">
            <img src="images/astronomy.jpg" alt="Astronomy">
            <h3>Astronomy</h3>
            <p>Learn about stars, galaxies, and the mysteries of the cosmos.</p>
        </div>
        <div class="topic">
            <img src="images/physics.jpg" alt="Physics">
            <h3>Physics</h3>
            <p>Explore the fundamental laws governing the universe.</p>
        </div>
        <div class="topic">
            <img src="images/cosmology.jpg" alt="Cosmology">
            <h3>Cosmology</h3>
            <p>Explore the origins and evolution of the universe.</p>
        </div>
        <div class="topic">
            <img src="images/planetary_science.jpg" alt="Planetary Science">
            <h3>Planetary Science</h3>
            <p>Investigate planets, moons, and other objects in our solar system.</p>
        </div>
        <div class="topic">
            <img src="images/computer_science.jpg" alt="Computer Science">
            <h3>Computer Science</h3>
            <p>Study the principles and applications of computing systems and software development.</p>
        </div>
        <!-- Add more topics as needed -->
    </section>
    <footer>
        <p>&copy; 2024 Cosmical. All rights reserved.</p>
    </footer>
    <script src = "javascript.js"></script>

</body>
</html>
